@use '../../styles/variables' as *;

.websiteLayoutNavContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: unset;
    margin-top: clamp(10px, 2vw, 15px);
  }
}

.websiteLayoutNavContainer nav{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.websiteLayoutNavContainer ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.websiteLayoutNavContainer li {
  margin: 0px 50px;
  transition: all 0.4s ease-in-out;
  &:hover {
    scale: 1.1;
  }
  @media (max-width: 768px) {
    width: 100%;
    height: clamp(70px, 18vw, 80px);
    margin: 0;
    display: flex;
    border-bottom: 1px solid $header-border-color;
  &:hover {
    scale: unset;
  }
  }
}

.websiteLayoutNavContainer a {
  text-decoration: none;
  color: $header-text-color;
  font-family: $font-main;
  font-size: 24px;
  font-weight: 600;
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(24px, 6vw,28px);
  }
}

.active{
  transition: all 0.4s ease-in-out;
  color: $header-active-page-text-color !important;
  font-weight: 700;
}

.footerNavContainerDiv ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footerNavContainerDiv ul li{
  margin-bottom: 15px !important;
}

.footerNavContainerDiv a {
  text-decoration: none;
  color: $footer-text-color;
  font-family: $font-main;
  font-size: 20px;
}