@use '../../styles/variables' as *;

.websiteLayoutNavContainer {
  position: relative;
  z-index: 101;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: unset;
    margin-top: 15px;
  }
  @media (max-width: 500px) {
    margin-top: 10px;
  }
}

.websiteLayoutNavContainer nav{
  position: relative;
  z-index: 102;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.websiteLayoutNavContainer ul {
  position: relative;
  z-index: 103;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.websiteLayoutNavContainer li {
  position: relative;
  z-index: 104;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 clamp(30px, 2.5vw, 50px);
  @media (max-width: 1280px) {
    margin: 0 clamp(10px, 1.8vw, 30px);
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    border-bottom: 1px solid $header-border-color;
  }
  @media (max-width: 500px) {
    height: 60px;
  }
}

.websiteLayoutNavContainer a {
  position: relative;
  z-index: 105;
  text-decoration: none;
  color: $header-text-color;
  font-family: $font-main;
  font-size: clamp(20px, 1.5vw, 24px);
  font-weight: 600;
  text-align: center;
  transition: all 0.4s ease-in-out;
  &:hover {
    scale: 1.1;
  }
  @media (max-width: 1280px) {
    font-size: clamp(16px, 1.6vw, 20px);
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    &:hover {
      scale: unset;
    }
  }
  @media (max-width: 500px) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
}

.active{
  transition: all 0.4s ease-in-out;
  color: $header-active-page-text-color !important;
  font-weight: 700;
}

.servicesListDiv {
  padding-top: 50px;
  display: none;
  position: absolute;
  z-index: 100;
}

.websiteLayoutNavContainer li:hover .servicesListDiv {
  display: block;
}

.servicesListDiv ul{
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  width: 18vw;
  box-shadow: 0px 10px 12px 0px $header-shadow;
  -webkit-box-shadow: 0px 10px 12px 0px $header-shadow;
  -moz-box-shadow: 0px 10px 12px 0px $header-shadow;
  @media (max-width: 1280px) {
    width: 19vw;
  }
}

.servicesListDiv ul li{
  margin: 0 !important;
  padding: 0 !important;
  width: 16vw;
  border-bottom: 1px solid $header-border-color;
  &:hover {
    scale: none !important;
  }
  @media (max-width: 1280px) {
    width: 18vw;
  }
}

.servicesListDiv ul li a {
  text-decoration: none;
  color: $header-text-color;
  font-family: $font-main;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  @media (max-width: 1280px) {
    padding: 15px 0;
    font-size: clamp(12px, 1.6vw, 20px);
  }
}

.footerNavContainerDiv ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footerNavContainerDiv ul li{
  margin-bottom: 15px !important;
}

.footerNavContainerDiv a {
  text-decoration: none;
  color: $footer-text-color;
  font-family: $font-main;
  font-size: 20px;
  @media (max-width: 500px) {
    font-size: 18px;
  }
}