@use '../../styles/variables' as *;

.servicesPageBannerDiv {
  box-sizing: border-box;
  height: 799px;
  background-image: url("src/assets/images/services_page_photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 10px 12px 0px $home-page-banner-shadow;
  -webkit-box-shadow: 0px 10px 12px 0px $home-page-banner-shadow;
  -moz-box-shadow: 0px 10px 12px 0px $home-page-banner-shadow;
  @media (max-width: 768px) {
    height: 680px;
  }
  @media (max-width: 500px) {
    height: 510px;
  }
  @media (max-width: 280px) {
    height: 610px;
  }
}

.servicesPageBannerContent {
  padding: 100px 0 0 75px;
  height: 100%;
  box-sizing: border-box;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 768px) {
    width: clamp(450px, 70vw, 500px);
    padding-top: 100px;
    padding-left: clamp(25px, 5vw,35px);
  }
  @media (max-width: 500px) {
    width: 280px;
    padding: 40px 0 0 20px;
  }
  @media (max-width: 280px) {
    width: 100%;
    padding: 40px 0 0 20px;
  }
}

.servicesPageBannerContent span{
  display: flex;
  color: $footer-text-color;
  font-family: $home-page-banner-font;
  font-weight: 700;
  font-size: 80px;
  line-height: 104px;
  @media (max-width: 768px) {
    font-size: clamp(42px, 7vw, 52px);
    line-height: clamp(56px, 8vw, 66px);;
  }
  @media (max-width: 500px) {
    font-size: 30px;
    line-height: 44px;
  }
}

.servicesPageBannerContent p{
  margin: 40px 0 50px 0;
  color: $footer-text-color;
  font-family: $home-page-banner-font;
  font-weight: 400;
  font-size: 32px;
  line-height: 54px;
  @media (max-width: 768px) {
    font-size: clamp(24px, 4vw, 30px);
    line-height: 48px;
  }
  @media (max-width: 500px) {
    font-size: 20px;
    line-height: 34px;
    margin: 20px 0 25px 0;
  }
}