@use '../../styles/variables' as *;

.servicesPageContentDiv {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  @media (max-width: 1279px) {
    padding: 50px;
  }
  @media (max-width: 768px) {
    padding: 50px 35px;
  }
  @media (max-width: 500px) {
    padding: 50px 20px;
  }
}

.servicesPageContentDiv ul{
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.servicesPageContentDiv li{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  background-color: $services-page-content-li-background;
  padding: 25px 100px;
  border-radius: 12px;
  @media (max-width: 1279px) {
    padding: 25px 50px;
  }
  @media (max-width: 768px) {
    padding: 25px 25px;
  }
  @media (max-width: 500px) {
    padding: 25px 15px;
  }
  @media (max-width: 370px) {
    flex-direction: column;
  }
}

.servicesPageContentDiv li:last-child{
  margin-bottom: 0 !important;
}

.servicesPageContentDiv img{
  margin-top: 40px;
  width: 150px;
  height: 150px;
  @media (max-width: 768px) {
    height: clamp(100px, 20vw, 125px);
    width: clamp(100px, 20vw, 125px);
  }
  @media (max-width: 370px) {
    margin: 0 auto 0 auto;
  }
}