@use '../../styles/variables' as *;

.contactPageFormDiv {
  padding: 0 150px 0 0;
  box-sizing: border-box;
  width: 55%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid $contact-content-border-color;
}

.contactPageFormTitle {
  margin-bottom: 40px;
  display: flex;
  color: $header-text-color;
  font-size: 32px;
  font-weight: 600;
  font-family: $font-main;
}

.contactPageFormDiv form{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contactPageFormDiv label{
  box-sizing: border-box;
  font-family: $font-main;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.contactPageFormDiv input, textarea{
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  font-family: $font-main;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid $contact-input-border-color;
  border-radius: 6px;
}