@use '../../styles/variables' as *;

.contactPageFormDiv {
  padding: 0 150px 0 0;
  box-sizing: border-box;
  width: 60%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid $contact-content-border-color;
}

.contactPageFormTitle {
  margin-bottom: 40px;
  display: flex;
  color: $header-text-color;
  font-size: 32px;
  font-weight: 600;
  font-family: $font-main;
}

.contactPageFormDiv form{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contactPageFormDiv form label{
  box-sizing: border-box;
  font-family: $font-main;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.contactPageFormDiv form input, textarea{
  margin-bottom: 25px;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  font-family: $font-main;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid $contact-input-border-color;
  border-radius: 6px;
}

.buttonDivInf {
  width: 60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contactPageFormDiv form button{
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10% 0 15%;
  background-color: $home-page-button-blue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contactPageFormDiv form button span{
  font-family: $font-main;
  font-weight: 400;
  font-size: 20px;
  color: $footer-text-color
}

.contactPageFormDiv form button img{
  width: 30px;
  margin-left: auto;
}

.buttonDivInf p{
  margin: 10px 0;
  text-align: center;
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  color: $header-text-color
}