@use '../../styles/variables' as *;

.footerInformationDiv {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: unset;
    padding: 35px 0;
  }
}

.footerInformationChunk {
  padding-top: 10px;
  width: 30%;
  border-right: 1px solid $footer-chunk-border-color;
  @media (max-width: 768px) {
      width: 100%;
      border: none;
    }
  }

.lastChunk {
  border: none;
}

.websiteFooterLogo {
  box-sizing: border-box;
  width: clamp(200px, 60%, 400px);
  margin-bottom: 25px;
}

.footerSpanType1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: clamp(190px, 75%, 400px);
  color: $footer-text-color;
  font-size: 20px;
  font-family: $font-main;
  @media (max-width: 500px) {
    font-size: 18px;
  }
}

.footerSpanTitle {
  margin: 0 0 25px 0;
  display: flex;
  width: 75%;
  color: $footer-text-color;
  font-size: 24px;
  font-weight: 500;
  font-family: $font-main;
  @media (max-width: 768px) {
    margin-top: 25px;
  }
  @media (max-width: 500px) {
    margin: 20px 0;
    font-size: 20px;
  }
}

.footerInformationChunk ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footerInformationChunk ul li{
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.footerInformationChunk ul li:last-child{
  margin-bottom: 0;
}

.footerInformationContactDataImg{
  margin-right: 10px;
  width: 30px;
  height: auto;
  @media (max-width: 500px) {
    width: 26px;
  }
}