@use '../../styles/variables' as *;


.servicesListDiv {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 75px;
  font-family: $home-page-banner-font;
  font-size: 22px;
  @media (max-width: 1279px) {
    margin-left: 50px;
    font-size: clamp(20px, 2.3vw, 22px);
  }
  @media (max-width: 768px) {
    margin-left: clamp(30px, 5.5vw, 40px);
    font-size: clamp(17px, 3vw, 22px);
  }
  @media (max-width: 500px) {
    margin-left: 20px;
    font-size: clamp(15px, 3.5vw, 17px);
  }
  @media (max-width: 389px) {
    margin: 0;
  }
}

.servicesListDiv span{
  font-weight: 700;
  font-size: 32px;
  @media (max-width: 1279px) {
    font-size: clamp(30px, 3.2vw, 32px);
  }
  @media (max-width: 768px) {
    font-size: clamp(24px, 4.5vw, 32px);
  }
  @media (max-width: 500px) {
    font-size: clamp(17px, 4.9vw, 24px);
  }
  @media (max-width: 389px) {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}

.servicesListDiv p{
  width: 530px;
  line-height: 32px;
  @media (max-width: 900px) {
    width: 100%;
  }
  @media (max-width: 768px) {
    line-height: clamp(26px, 4vw, 32px);
  }
  @media (max-width: 500px) {
    width: 100%;
    line-height: clamp(20px, 5.3vw, 26px);
  }
  @media (max-width: 389px) {
    width: 100%;
    text-align: center;
  }
}

.servicesListDiv li{
  margin: 0 0 16px 0 !important;
  padding: 0 !important;
  @media (max-width: 768px) {
    margin-bottom: clamp(10px, 2vw, 16px) !important;
  }
  @media (max-width: 389px) {
    width: 100%;
    text-align: center;
  }
}

.seeMoreLink{
  margin: auto 0 auto auto;
  width: 300px;
  height: 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $services-page-seemore-link;
  text-decoration: none;
  color: $footer-text-color;
  font-family: $home-page-banner-font;
  font-weight: 500;
  font-size: 22px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}