@use '../../styles/variables' as *;


.servicesListDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 75px;
  font-family: $home-page-banner-font;
  font-size: 22px;
}

.servicesListDiv span{
  font-weight: 700;
  font-size: 40px;
}

.servicesListDiv p{
  width: 530px;
  line-height: 32px;
}

.servicesListDiv li{
  margin: 0 0 16px 0 !important;
  padding: 0 !important;
}