@use '../../styles/variables' as *;

.aboutUsPageInfoDiv {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 75px;
  @media (max-width: 1279px) {
    padding: 50px;
  }
  @media (max-width: 768px) {
    padding: 50px 35px;
  }
  @media (max-width: 500px) {
    padding: 50px 20px;
  }
}

.aboutUsPageInfoDiv span{
  font-size: 40px;
  font-weight: 600;
  font-family: $font-main;
  margin-bottom: 30px;
  @media (max-width: 768px) {
    font-size: clamp(27px, 5vw, 38px);
    margin-bottom: 20px;
    text-align: center;
  }
  @media (max-width: 370px) {
    font-size: 24px;
  }
}

.aboutUsPageInfoDiv p{
  font-size: 26px;
  font-weight: 400;
  font-family: $font-main;
  margin: 0;
  text-align: center;
  @media (max-width: 768px) {
    font-size: clamp(22px, 4vw, 26px);
  }
  @media (max-width: 370px) {
    font-size: 22px;
  }
}