
$font-main: 'Inter', sans-serif;

$header-border-color: rgba(204, 204, 204, 0.5);
$header-text-color: #000000;
$header-background-color: #FFF;
$header-shadow: rgba(150, 150, 150, 0.4);
$header-active-page-text-color: #056cfe;

$footer-chunk-border-color: #333333;
$footer-text-color: #FBFCFC;
$footer-background-color: #04192F;

$home-page-banner-font: 'Poppins', sans-serif;
$home-page-button-blue: #0C65F7;
$home-page-banner-shadow: rgba(3, 11, 20, 0.5);
$home-page-content-thing-shadov: rgba(180, 180, 180, 0.4);
$home-page-content-thing-border: rgba(180, 180, 180, 0.05);

$whatsapp-green-color: #25D366;