
$font-main: 'Inter', sans-serif;
$home-page-banner-font: 'Poppins', sans-serif;
$header-border-color: #CCC;
$header-text-color: #000000;
$header-active-page-text-color: #056cfe;
$footer-chunk-border-color: #333333;
$footer-text-color: #FBFCFC;
$footer-background-color: #04192F;
